body {
    background-image:url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

h1 {
    color: #800080;
    text-align: center;
}

#task-input {
    /*define the width*/
     width:300px;
     /*define the height*/
     height:100px;
     /*set the background color*/
     background-color:#BA55D3;
     /*define how rounded it will be*/
     border-radius: 10px 20px;
     
}

#add-task {
     /*define the width*/
     width:150px;
     /*define the height*/
     height:50px;
     /*set the background color*/
     background-color:#BA55D3;
     /*define how rounded it will be*/
     border-radius: 10px 20px;
     color: white;
     font-weight: bold;
}

::placeholder {
    color: white;
    text-align: center;
}